layout {
    default_tab_template {
        pane size=2 borderless=true {
            plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
                format_left   "{mode} #[fg=#a6e3a1]#[bg=#a6e3a1,fg=#1e2030,bold] #[bg=#313244,fg=#cdd6f4,bold] {session}#[bg=#313244,fg=#cdd6f4,bold]#[fg=#313244,bold] {tabs}"
                format_center ""
                format_right  ""
                format_space  ""
                format_hide_on_overlength "true"
                format_precedence "crl"

                border_enabled  "false"
                border_char     "─"
                border_format   "#[fg=#6c7086]{char}"
                border_position "top"

                mode_normal        "#[bg=#a6e3a1,fg=#181825,bold] NORMAL#[fg=#a6e3a1]"
                mode_locked        "#[bg=#b4befe,fg=#181825,bold] LOCKED #[fg=#b4befe]"
                mode_resize        "#[bg=#f2cdcd,fg=#181825,bold] RESIZE#[fg=#f2cdcd]"
                mode_pane          "#[bg=#f2cdcd,fg=#181825,bold] PANE#[fg=#f2cdcd]"
                mode_tab           "#[bg=#f2cdcd,fg=#181825,bold] TAB#[fg=#f2cdcd]"
                mode_scroll        "#[bg=#f2cdcd,fg=#181825,bold] SCROLL#[fg=#f2cdcd]"
                mode_enter_search  "#[bg=#f2cdcd,fg=#181825,bold] ENT-SEARCH#[fg=#f2cdcd]"
                mode_search        "#[bg=#f2cdcd,fg=#181825,bold] SEARCHARCH#[fg=#f2cdcd]"
                mode_rename_tab    "#[bg=#f2cdcd,fg=#181825,bold] RENAME-TAB#[fg=#f2cdcd]"
                mode_rename_pane   "#[bg=#f2cdcd,fg=#181825,bold] RENAME-PANE#[fg=#f2cdcd]"
                mode_session       "#[bg=#f2cdcd,fg=#181825,bold] SESSION#[fg=#f2cdcd]"
                mode_move          "#[bg=#f2cdcd,fg=#181825,bold] MOVE#[fg=#f2cdcd]"
                mode_prompt        "#[bg=#f2cdcd,fg=#181825,bold] PROMPT#[fg=#f2cdcd]"
                mode_tmux          "#[bg=#fab387,fg=#181825,bold] TMUX#[fg=#fab387]"

                // formatting for inactive tabs
                tab_normal              "#[fg=#89b4fa]#[bg=#89b4fa,fg=#181825,bold]{index} #[bg=#313244,fg=#cdd6f4,bold] {name}{floating_indicator}#[fg=#313244]"
                tab_normal_fullscreen   "#[fg=#89b4fa]#[bg=#89b4fa,fg=#181825,bold]{index} #[bg=#313244,fg=#cdd6f4,bold] {name}{fullscreen_indicator}#[fg=#313244]"
                tab_normal_sync         "#[fg=#89b4fa]#[bg=#89b4fa,fg=#181825,bold]{index} #[bg=#313244,fg=#cdd6f4,bold] {name}{sync_indicator}#[fg=#313244]"

                // formatting for the current active tab
                tab_active              "#[fg=#fab387]#[bg=#fab387,fg=#181825,bold]{index} #[bg=#313244,fg=#cdd6f4,bold] {name}{floating_indicator}#[fg=#313244]"
                tab_active_fullscreen   "#[fg=#fab387]#[bg=#fab387,fg=#181825,bold]{index} #[bg=#313244,fg=#cdd6f4,bold] {name}{fullscreen_indicator}#[fg=#313244]"
                tab_active_sync         "#[fg=#fab387]#[bg=#fab387,fg=#181825,bold]{index} #[bg=#313244,fg=#cdd6f4,bold] {name}{sync_indicator}#[fg=#313244]"

                // separator between the tabs
                tab_separator           " "

                // indicators
                tab_sync_indicator       " "
                tab_fullscreen_indicator " 󰊓"
                tab_floating_indicator   " 󰹙"

                command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
                command_git_branch_format      "#[fg=blue] {stdout} "
                command_git_branch_interval    "10"
                command_git_branch_rendermode  "static"
            }
        }
        children
    }
}
